<mat-grid-list cols="1" rowHeight="90px">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <h1>Find top rated squads</h1>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <h2>Select your MUST HAVE player</h2>
  </mat-grid-tile>
</mat-grid-list>

<app-player-search></app-player-search>

<h3>No idea how to start? Choose one below</h3>
<div class="grid grid-pad">
  <a *ngFor="let player of topPlayers" class="col-1-4" routerLink="/players/{{player.id}}">
    <div class="module hero">
      <h4>{{player.name}}</h4>
    </div>
  </a>
</div>