
<button mat-button color="primary" (click)="goBack()">
  <mat-icon>keyboard_backspace</mat-icon>
  Back
</button>
<!--
<div *ngIf="player">
  <h2>{{player.name | uppercase}} Details</h2>
  <div><span>id: </span>{{player.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="player.name" placeholder="name"/>
    </label>
  </div>
</div>
<button (click)="save()">Save</button> -->

<mat-grid-list cols="1" rowHeight="300px">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-player-card [player]="player"></app-player-card>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="50px">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <h2>Average price:<b class="price">{{player.price}}</b></h2>
  </mat-grid-tile>
</mat-grid-list>